{% extends "layout.html.twig" %}

{% block head %}
    <meta property="og:title" content="MyTeamStats" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://myteamstats.thibaut-minard.fr/MatchsList" />
    <meta property="og:image" content="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png />
    <meta property="og:description" content="Liste des matchs">
    <title>Liste des matchs - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div class="modal_confirm_delete">
        <div class="modal_confirm_delete_content">
            <span class="modal_confirm_delete_content-txt">Vous êtes sur le point de supprimer un match. Confirmer ?  </span>
            <div class="modal_confirm_delete_content-buttons">
                <button class="modal_confirm_delete_content-buttonno btn btn-primary">Non</button>
                <button id="/DeleteMatch/" class="modal_confirm_delete_content-buttonyes btn btn-primary">Oui</button>
            </div>
        </div>
    </div>

    {% if session.user_status >= 3 %}
        <button id="add_match" class="btn btn-primary mt-4 add-btn font-weight-bold" onclick="location.href='/CreateMatch';">
                <i class="far fa-futbol"></i>&nbsp;&nbsp;&nbsp;Créer un match
        </button>
    {% endif %}

    <div class="table-responsive">
        <table class="table table table-bordered table-striped text-center table-text-size">
            <caption class="text-center">
                <h4>Liste des Matchs</h4>
            </caption>
            <thead>
                <tr class="trlist">
                    <th id="table_matchcategory">Catégorie</th>
                    <th id="table_matchopponent">Adversaire</th>
                    <th id="table_matchplace">Lieu</th>
                    <th id="table_matchdate">Date</th>
                    <th id="table_matchresul">Résultat</th>
                    <th id="table_matchoptions" class="optionsTH">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matchs %}
                    <tr class="tableTR">
                        <td>{{ match.category }}</td>
                        <td>{{ match.oppo }}</td>
                        <td>
                            {% if match.athome == 1  %}
                                Domicile
                            {% else %}
                                Extérieur
                            {% endif %}
                        </td>
                        <td>{{ match.date | date('d/m/Y à H:i' )}}</td>
                        <td>
                            {%  if match.status == 1 %}
                                A venir
                            {%  else %}
                                {{ match.homescore }} - {{ match.awayscore }}
                            {% endif %}
                        </td>
                        <td class="optionsTD">
                            <div><a href="/Match/{{ match.gameid }}" class="bluelink"><i class="far fa-futbol"></i></a></div>
                            {% if ( session.user_status ) >= 3  and  ( match.status == 1 )  %}
                                <div><a href="/Composition/{{ match.gameid }}" class="bluelink"><i class="fas fa-users"></i></a></div>
                                <div><a href="/MatchStats/{{ match.gameid }}" class="bluelink"><i class="fas fa-clipboard-list"></i></a></div>
                            {% endif %}
                            {% if session.user_status >= 4 %}
                                {% if match.status == 1 %}<div class="delete_btn" id="delete_matchdiv_{{ match.gameid }}"><i class="fas fa-trash-alt" id="delete_matchico_{{ match.gameid }}"></i></div>{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="list_bar col-12 d-flex flex-row justify-content-center mb-4">
    </div>

{% endblock %}

{% block script %}
    <script>let count = {{ count }}</script>
    <script>let list = "{{ list }}"</script>
    <script>let userStatus = "{{ session.user_status }}"</script>
    <script src="/js/TableOptions.js"></script>
    <script src="/js/DeleteManagement.js"></script>
    <script src="/js/ListDisplay.js"></script>
{% endblock %}


