{% extends "layout.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="{{ match.type }} - {{ match.category }}" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.thibaut-minard.fr/MyTeamStats/Match/{{ match.gameid }}" />
    <meta property="og:image" content="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" />
    {% if match.status == 0 %}
        <meta property="og:description" content="{% if match.athome == 1 %}Lavalloise FC {{ homescore }} - {{ awayscore }} {{ match.oppo }} {% else %} {{ match.oppo }} {{ homescore }} - {{ awayscore }} Lavalloise FC{% endif %}">
    {% else %}
        <meta property="og:description" content="{% if match.athome == 1 %}Lavalloise FC - {{ match.oppo }} {% else %} {{ match.oppo }} - Lavalloise FC{% endif %}">
    {% endif %}
    <title>{% if match.athome == 1 %}Lavalloise FC - {{ match.oppo }} {% else %} {{ match.oppo }} - Lavalloise FC{% endif %} - MyTeamStats</title>
{% endblock %}

{% block content %}
    <!-- Twitter -->

    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <div id="twitter-wjs"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="twitter-wjs"></div>

    <div id="match_data">
        <div id="matchid">{{ match.gameid }}</div>
        <div id="athome">{{ match.athome }}</div>
        <div id="periodnum">{{ match.periodnum }}</div>
        <div id="periodduration">{{ match.periodduration }}</div>
        <div id="status">{{  match.status  }}</div>
        <div id="page">sheet</div>
    </div>

    <div class="meteo_zipcode">{{ match.zipcode }}</div>
    <div class="meteo_date">{{ match.date }}</div>

<div id="match" class="d-flex flex-column col-12 align-items-center">

    <h1 class="mt-2 mb-2">{{ match.type }} - {{ match.category }}</h1>
    <h5 id="match_date" class="mt-2 mb-4">{{ match.date | date('\\L\\e d/m/Y à H\\hi')  }}</h5>

    <div id="match_teams" class="col-12 d-flex flex-row justify-content-center mb-4">
        <div id="match_team_home" class="d-flex flex-column align-items-center justify-content-center col-4">
            <div id ="match_team_home-logo">
                {% if match.athome == 1 %}
                    <img src="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" class="logo_img">
                {% else %}
                    <img src="{{ match.logo }}" class="logo_img">
                {% endif %}
            </div>
            <div id ="match_team_home-name" class="text-center">
                {%  if match.athome == 1 %}
                    Lavalloise Football Cub
                {% else %}
                    {{ match.oppo }}
                {% endif %}
            </div>
        </div>
        {% if match.status == 0 %}
            <div id="match_score" class="col-4 d-flex flex-column justify-content-center items-align-center font-weight-bold">
                <div class="text-center"><span id="homescore"></span>-<span id="awayscore"></span></div>
            </div>
        {% endif %}
        <div id="match_team_away" class="d-flex flex-column align-items-center justify-content-center col-4">
            <div id ="match_team_away-logo">
                {% if match.athome == 0 %}
                    <img src="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" class="logo_img">
                {% else %}
                    <img src="{{ match.logo }}" class="logo_img">
                {% endif %}
            </div>
            <div id ="match_team_away-name" class="text-center">
                {%  if match.athome == 0 %}
                    Lavalloise Football Cub
                {% else %}
                    {{ match.oppo }}
                {% endif %}
            </div>
        </div>
    </div>

    {% if match.status == 1 %}
        <div id="match_infos"  class="mt-4 mb-4 col-10">
            <p id="match_address">
                <span class="player_data-title font-weight-bold">Terrain :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="player_data-txt">{{ match.address }} à {{ match.city }} ({{ match.zipcode }})</span>
            </p>
            <p id="match_field">
                <span class="player_data-title font-weight-bold">Pelouse :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="player_data-txt">{{ match.turf }}</span>
            </p>
            <p id="match_meteo">
                    <span class="player_data-title font-weight-bold">Prévision météo :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="meteo_display"></span>
            </p>

            {% if playersList is null %}

                <p id="no_compo">
                    <span class="font-weight-bold">Il n'y a pas encore de composition d'équipe pour ce match</span>
                </p>

            {% else %}

                <p id="match_player">
                    <span id="match_player-title" class="font-weight-bold">Joueurs convoqués :</span>
                    <ul>
                        {%  for player in playersList %}
                            <li>{{ player.firstname }}  {{ player.lastname }}</li>
                        {% endfor %}
                    </ul>
                </p>

            {% endif %}
        </div>

    {%  else %}

        <div id="match_goal_card_display" class="col-12 mt-3 mb-3">
            <div id="match_goal_display">

            </div>
            <div id="match_card_display">

            </div>
        </div>

        <div id="match_stat_period_display" class="mt-2">
            <div id="match_stat_period-bar" class="border border-primary rounded"></div>
        </div>

    {%  endif %}

</div>

    {%  if session.user_status >= 4 %}
        <div class="mb-2 d-flex flex-row justify-content-around">
            <div class="fb-share-button"
                 data-href="http://www.thibaut-minard.fr/MyTeamStats/Match/{{ match.gameid }}"
                 data-layout="button" data-size="large">
            </div>
            <div class="tw-share-button">
                {% if match.status == 1 %}
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?text=Prochain Match"
                       data-hashtags="LFC,FootFéminin"
                       data-size="large">
                        Tweet
                    </a>
                {% else %}
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?text=Résultat"
                       data-hashtags="LFC,FootFéminin"
                       data-size="large">
                        Tweet
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}


{% endblock %}

{%  block script %}

    <script>
        let player = {{ players | raw }};
        let card = {{ cards | raw }};
        let goal = {{ goals | raw }};
        let period = {{ periods | raw }};
    </script>
    <script src="/MyTeamStats/public/js/ajax.js"></script>
    <script src="/MyTeamStats/public/js/Score.js"></script>
    <script src="/MyTeamStats/public/js/Card.js"></script>
    <script src="/MyTeamStats/public/js/Stats.js"></script>
    <script src="/MyTeamStats/public/js/Chrono.js"></script>
    <script src="/MyTeamStats/public/js/Match.js"></script>
    <script src="/MyTeamStats/public/js/Meteo.js"></script>
{% endblock %}