{% extends "layout.html.twig" %}

{% block head %}
    <title>Match - MyTeamStats</title>
{% endblock %}

{% block content %}

<div id="match" class="d-flex flex-column col-10 offset-1 align-items-center">

    <h1>{{ match.type }} - {{ match.category }}</h1>
    <h3 id="match_name">
        {% if match.athome == 1 %}
            Reception de
        {% else %}
            Déplacement à
        {% endif %}
        {{ match.oppo }}
    </h3>
    <h5 id="match_date">{{ match.date }}</h5>

    <div id="match_teams" class="d-flex flex-row justify-content-center">
        <div id="match_team_home" class="d-flex flex-column align-items-center justify-content-end col-6">
            <div id ="match_team_home-logo" class="col-5">
                {% if match.athome == 1 %}
                    <img src="/public/img/logo.png" class="img-responsive fit-image">
                {% else %}
                <img src="{{ match.logo }}" class="img-responsive fit-image">
                {% endif %}
            </div>
            <div id ="match_team_home-name">
                {%  if match.athome == 1 %}
                    Lavalloise Football Cub
                {% else %}
                    {{ match.oppo }}
                {% endif %}
            </div>
        </div>
        {% if match.status == 0 %}
            <div id="match_score" class="col-2">
                3-0
            </div>
        {% endif %}
        <div id="match_team_away" class="d-flex flex-column align-items-center col-6">
            <div id ="match_team_away-logo" class="col-5">
                {% if match.athome == 0 %}
                    <img src="/public/img/logo.png" class="img-responsive fit-image">
                {% else %}
                    <img src="{{ match.logo }}" class="img-responsive fit-image">
                {% endif %}
            </div>
            <div id ="match_team_away-name">
                {%  if match.athome == 0 %}
                    Lavalloise Football Cub
                {% else %}
                    {{ match.oppo }}
                {% endif %}
            </div>
        </div>
    </div>
    
    <div id="pre_match">
        <div id="match_data" class="m-4 p-4 col-8 border border-primary rounded-lg myborder">
            <p id="match_address">
                <span class="player_data-title font-weight-bold">Terrain :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="player_data-txt">{{ match.address }} à {{ match.city }} ({{ match.zipcode }})</span>
            </p>
            <div class="meteo_zipcode">{{ match.zipcode }}</div>
            <div class="meteo_date">{{ match.date }}</div>
            <p id="match_field">
                <span class="player_data-title font-weight-bold">Pelouse :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="player_data-txt">{{ match.turf }}</span>
            </p>
            <p id="match_meteo">
                <span class="player_data-title font-weight-bold">Prévision météo :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="meteo_display">Soleil</span>
            </p>
        </div>  

        <div id="match_player" class="m-4 p-4 col-8 border border-primary rounded-lg myborder">
            <div id="match_player-title">Joueurs convoqués</div>
            <ul>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
                <li>Nom Prénom</li>
            </ul>
        </div>
    </div>

    <div id="post_match">
        
    </div>



</div>


{% endblock %}

{% block script %}
    <script src="/MyteamStats/public/js/ajax.js"></script>
    <script src="/MyteamStats/public/js/meteo.js"></script>
{% endblock %}