
{% extends "layout.html.twig" %}

{% block head %}
    <title>Liste des joueurs - MyTeamStats</title>
{% endblock %}

{% block content %}

    {% if session.user_status >= 3 %}
        <button id="add_player" class="btn btn-primary mt-4 add-btn">
            <a href="/MyTeamStats/CreatePlayer" class="link font-weight-bold">
                <i class="fas fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Créer un joueur
            </a>
        </button>
    {% endif %}

    <div class="modal_confirm_delete">
        <div class="modal_confirm_delete_content">
            <span class="modal_confirm_delete_content-txt">Vous êtes sur le point de supprimer un joueur. Confirmer ?  </span>
            <div class="modal_confirm_delete_content-buttons">
                <button class="modal_confirm_delete_content-buttonno btn btn-primary">Non</button>
                <button class="modal_confirm_delete_content-buttonyes btn btn-primary"><a href="/MyTeamStats/DeletePlayer/" class="delete_link link">Oui</a></button>
            </div>
        </div>
    </div>

    <div class="table-responsive mb-2">
        <table class="table table table-bordered table-striped text-center table-text-size">
            <caption class="col-12 text-center">
                <h4>Liste des joueurs</h4>
            </caption>
            <thead>
                <tr>
                    {%  if session.user_status >= 3 %}
                        <th id="table_licencenum">N° Licence</th>
                    {% endif %}
                    <th id="table_surname">Nom</th>
                    <th id="table_name">Prénom</th>
                    <th id="table_birthdate">Date de naissance</th>
                    <th id="table_category">Catégorie</th>
                    <th id="table_licenced">Licence</th>
                    <th id="table_options" class="optionsTH">Options</th>
                </tr>
            </thead>
            <tbody>
            {%   for player in playerListObj %}

                <tr class="tableTR trlist">
                    {%  if session.user_status >= 3 %}
                        <td>{{player.licence}}</td>
                    {% endif %}
                    <td>{{player.lastname}}</td>
                    <td>{{player.firstname}}</td>
                    <td>{{ player.birthdate }}</td>
                    <td>U{{ year - (player.birthdate | date('Y')) }}</td>
                    <td>
                        {% if player.activelicence == 1  %}
                            <i class="fas fa-check greencheck"></i>
                        {%  else %}
                            <i class="fas fa-times redtimes"></i>
                         {% endif %}
                    </td>
                    <td class="optionsTD">
                        <div><a href="/MyTeamStats/Player/{{ player.playerid }}" class="bluelink"><i class="fas fa-user"></i></a></div>
                        {%  if session.user_status >= 3 %}
                            <div><a href="/MyTeamStats/ModifyPlayer/{{ player.playerid }}" class="bluelink"><i class="fas fa-user-edit"></i></a></div>
                        {% endif %}
                        {%  if session.user_status >= 4 %}
                            <div class="delete_btn"><i class="fas fa-user-times" id="delete_player_{{ player.playerid }}" ></i></div>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="list_bar col-12 d-flex flex-row justify-content-center mb-4">
    </div>

{% endblock %}

{% block script %}
    <script src="/MyTeamStats/public/js/DeleteManagement.js"></script>
    <script src="/MyTeamStats/public/js/ListDisplay.js"></script>
{% endblock %}
