{% extends "layout.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="MyTeamStats" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://myteamstats.thibaut-minard.fr/Player/{{ player.playerid }}" />
    <meta property="og:image" content="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" />
    <meta property="og:description" content="Fiche Joueur - {{ player.firstname}} {{player.lastname}}">
    <title>Fiche Joueur - {{ player.firstname}} {{player.lastname}} - MyTeamStats</title>
{% endblock %}

{% block content %}

<div id="player" class="d-flex flex-column col-8 offset-2 align-items-center">
    <h3 id="player_name">{{ player.firstname}} {{player.lastname}}</h3>
    <div id="player_photo" class="d-flex flex-column align-items-center mt-4">
        <div class="col-10">
            <img src="{{ player.photo }}" class="img-responsive fit-image">
        </div>
    </div>
    <div id="player_data" class="m-4 p-4">
        <p id="player_category">
            <span class="player_data-title font-weight-bold">Catégorie :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="player_data-txt">U{{ year - (player.birthdate | date('Y')) }}</span>
        </p>
        <p id="player_position">
            <span class="player_data-title font-weight-bold">Poste :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="player_data-txt">{{ player.poste }}</span>
        </p>
        <p id="player_goal">
            <span class="player_data-title font-weight-bold">But(s) marqué(s) :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="player_data-txt">{{ goal }}</span>
        </p>
        <p id="player_pass">
            <span class="player_data-title font-weight-bold">Passe(s) décisive(s) :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="player_data-txt">{{ pass }}</span>
        </p>
        <p id="player_card">
            <span class="player_data-title font-weight-bold">Carton(s) :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="player_data-txt">{{ yellowcard }} Jaune - {{ redcard }} Rouge</span>
        </p>
        {% if session.user_status >= 2 %}
                <p id="player_licence">
                    <span class="player_data-title font-weight-bold">N° Licence :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="player_data-txt">{{ player.licence }}</span>
                </p>
                <p id="player_birthdate">
                    <span class="player_data-title font-weight-bold">Date de naissance :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="player_data-txt">{{ player.birthdate }}</span>
                </p>
                <div id="player_coord">
                    <p>
                        <span class="player_data-title font-weight-bold">Adresse :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="player_data-txt">{{ player.address }}</span>
                    </p>
                    <p>
                        <span class="player_data-title font-weight-bold">N° tel :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="player_data-txt">{{ player.phonenum }}</span>
                    </p>
                    <p>
                        <span class="player_data-title font-weight-bold">Mail :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="player_data-txt">{{ player.mail }}</span>
                    </p>
                </div>
        {% endif %}
    </div>    
</div>


{% endblock %}