{% extends "layout.html.twig" %}

{% block head %}
    <title>Composition d'équipe - MyTeamStats</title>
{% endblock %}

{% block content %}
    <div id="modal_send_composition">
        <div id="modal_send_composition_container" class="col-6 mt-5 border border-primary rounded-lg myborder">
            <div id="modal_send_composition_close" class="d-flex flex-row justify-content-end m-3"><i class="fas fa-times"></i></div>
            <form id="form_send_composition" action="/MyTeamStats/SendComposition/{{ id }}"  method="post">
                <div class="form-group">
                    <label for="text">Ajouter une note : </label>
                    <textarea id="composition_note" name="text" rows="9"></textarea>
                </div>
                <button type="submit" id="send_composition" class="btn btn-primary mt-4 add-btn">
                    <i class="fas fa-paper-plane"></i>&nbsp;Envoyer
                </button>
            </form>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center">
        <h3 class="mt-4 mb-4 compo-title">Composition d'équipe</h3>

        {% if playersList is null %}

            <div id="no_compo" class="compo-txt">
                Il n'y a pas encore de composition d'équipe pour ce match
            </div>

            <button id="add_compo" class="btn btn-primary mt-4 add-btn">
                <a href="/MyTeamStats/CreateComposition/{{ id }}"  class="link font-weight-bold">
                    <i class="fas fa-user-plus"></i>&nbsp;Créér la compo
                </a>
            </button>

        {% else %}

            <ul class="compo-txt">
                {%  for player in playersList %}
                    <li>{{ player.firstname }}  {{ player.lastname }}</li>
                {% endfor %}
            </ul>
            <div class="d-flex flex-row col-10 justify-content-around">
                <button id="modify_compo" class="btn btn-primary mt-4 add-btn col-4">
                    <a href="/MyTeamStats/ModifyComposition/{{ id }}"  class="link font-weight-bold">
                        <i class="fas fa-pen"></i>&nbsp;Modifier
                    </a>
                </button>
                <button id="delete_compo" class="btn btn-primary mt-4 add-btn col-4">
                    <a href="/MyTeamStats/DeleteComposition/{{ id }}"  class="link font-weight-bold">
                        <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
                    </a>
                </button>
            </div>
            <div class="d-flex flex-row col-10 justify-content-around">
                <button id="send_modal" class="btn btn-primary mt-4 add-btn col-4">
                    <a href="#"  class="link font-weight-bold">
                        <i class="fas fa-paper-plane"></i>&nbsp;Convocation
                    </a>
                </button>
                <button id="match_stats" class="btn btn-primary mt-4 add-btn col-4">
                    <a href="/MyTeamStats/MatchStats/{{ id }}"  class="link font-weight-bold">
                        <i class="fas fa-clipboard-list"></i>&nbsp;Mode Stats
                    </a>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="mt-4 backlink">
        <a href="/MyTeamStats/MatchsList" class="bluelink"><i class="fa fa-share fa-flip-horizontal" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Retour à la liste des matchs</a>
    </div>
{% endblock %}

{% block script %}
    <script src="/MyTeamStats/public/js/SendComposition.js"></script>
{% endblock %}