{% extends "layout.html.twig" %}

{% block head %}
    <title>Créér un match - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div id="creatematch_form" class="d-flex flex-column justify-content-center align-items-center">
        <form id="creatematch-form" class="col-lg-6" action="/MyTeamStats/AddMatch"  method="post" enctype="multipart/form-data">
            <legend>Créér un match</legend>
            <div class="form-group">
                <label for="text">Date</label>
                <input id="text" type="datetime-local" name="date" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="text">Adversaire</label><br/>
                <select name="opponent" required>
                    {% for oppo in oppoListObj %}
                        <option value="{{ oppo.opponentid }}">{{ oppo.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="btn btn-group btn-group-toggle" data-toggle="buttons" aria-pressed="false">
                <label class="btn btn-secondary active">
                    <input type="radio" name="athome" value="1" id="1" autocomplete="off" checked> Domicile
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="athome" value="0" id="0" autocomplete="off"> Extérieur
                </label>
            </div>
            <div class="form-group">
                <label for="text">Terrain</label><br/>
                <select name="fieldid" required>
                    {% for field in fieldsListObj %}
                        <option value="{{ field.fieldid }}">{{ field.name }} / {{  field.city }} / {{ field.turf }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="text">Catégorie</label><br/>
                <select name="category" required>
                    <option value="U18">U18</option>
                    <option value="U15">U15</option>
                </select>
            </div>
            <div class="form-group">
                <label for="text">Compétition</label><br/>
                <select name="type" required>
                    <option value="Championnat">Championnat</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Futsal">Futsal</option>
                    <option value="Tournoi">Tournoi</option>
                    <option value="Amical">Amical</option>
                </select>
            </div>
            <div class="form-group">
                <label for="text">Nombre de période</label>
                <select name="periodnum" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="text">Durée d'une période</label>
                <input id="text" type="number" name="periodduration" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
        </form>
    </div>


{% endblock %}