{% extends "layout.html.twig" %}

{% block head %}
    <title>Liste des terrains - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div class="modal_confirm_delete">
        <div class="modal_confirm_delete_content">
            <span class="modal_confirm_delete_content-txt">Vous êtes sur le point de supprimer un terrain. Confirmer ?  </span>
            <div class="modal_confirm_delete_content-buttons">
                <button class="modal_confirm_delete_content-buttonno btn btn-primary">Non</button>
                <a href="/MyTeamStats/DeleteField/" class="delete_link"><button class="modal_confirm_delete_content-buttonyes btn btn-primary">Oui</button></a>
            </div>
        </div>
    </div>

    {% if session.user_status >= 3 %}
        <button id="add_field" class="btn btn-primary mt-4 add-btn">
            <a href="/MyTeamStats/CreateField" class="link font-weight-bold">
                <i class="fas fa-map-signs"></i>&nbsp;&nbsp;&nbsp;Créér un terrain
            </a>
        </button>
    {% endif %}

    <div class="table-responsive">
        <table class="table table table-bordered table-striped text-center table-text-size">
            <caption class="col-12 text-center">
                <h4>Liste des Terrains</h4>
            </caption>
            <thead>
            <tr>
                <th id="table_fieldname">Nom</th>
                <th id="table_fieldaddress">Adresse</th>
                <th id="table_fieldzipcode">Code Postal</th>
                <th id="table_fieldcity">Ville</th>
                <th id="table_fieldturf">Terrain</th>
                <th id="table_fieldoptions">Options</th>
            </tr>
            </thead>
            <tbody>
            {%   for field in fieldListObj %}

                <tr class="trlist">
                    <td>{{ field.name }}</a></td>
                    <td>{{ field.address }}</td>
                    <td>{{ field.zipcode }}</td>
                    <td>{{ field.city }}</td>
                    <td>{{ field.turf}}</td>
                    <td class="d-flex flex-row justify-content-between">
                        <div><a href="/MyTeamStast/ModifyField/{{ field.fieldid }}"><i class="fas fa-pen"></i></a></div>
                        {%  if session.user_status >= 4 %}
                            <div  class="delete_btn"><i class="fas fa-trash-alt"  id="delete_field_{{ field.fieldid }}"></i></div>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="list_bar col-12 d-flex flex-row justify-content-center mb-4">
    </div>

{% endblock %}

{% block script %}
    <script src="/MyTeamStats/public/js/DeleteManagement.js"></script>
    <script src="/MyTeamStats/public/js/ListDisplay.js"></script>
{% endblock %}

