{% extends "layout.html.twig" %}

{% block head %}
    <title>Match Stat - MyTeamStats</title>
{% endblock %}

{% block content %}
    <div id="modal">
        <div id="modal_goal" class="modalflex">
            <div id="scorer">
                <label for="scorer">Buteur :</label>
                <select name="scorer" id="select_scorer">
                    {% for player in playersList %}
                        <option value="{{ player.playerid }}">{{ player.firstname }} {{ player.lastname | truncate(1, false, "") }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="passer">
                <label for="passer">Passeur :</label>
                <select name="passer" id="select_passer">
                    <option value="null">Pas de passeur</option>
                    {% for player in playersList %}
                        <option value="{{ player.playerid }}">{{ player.firstname }} {{ player.lastname | truncate(1, false, "") }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="action">
                <label for="action">Action :</label>
                <select name="action"  id="select_action">
                    <option value="Action de jeu">Action de jeu</option>
                    <option value="Corner">Corner</option>
                    <option value="Coup franc">Coup franc</option>
                    <option value="Coup franc direct">Coup franc direct</option>
                    <option value="Penalty">Penalty</option>
                </select>
            </div>
            <div id="bodypart">
                <label for="bodypart">Methode :</label>
                <select name="bodypart" id="select_bodypart">
                    <option value="Pied droit">Pied droit</option>
                    <option value="Pied gauche">Pied gauche</option>
                    <option value="Tête">Tête</option>
                    <option value="CSC">CSC</option>
                </select>
            </div>
            <button id="modal_goal-button" class="btn btn-primary">Valider</button>
        </div>

        <div id="modal_yellowcard" class="modalflex">
            <div id="yc_close"><i class="fas fa-times"></i></div>
            <div id="set_yellowcard">
                <label for="player_yc">Joueur averti :</label>
                &nbsp;&nbsp;&nbsp;
                <select name="player_yc" id="player_yc">
                    {% for player in playersList %}
                        <option value="{{ player.playerid }}">{{ player.firstname }} {{ player.lastname | truncate(1, false, "") }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                <button id="valid_yc" class="btn btn-primary">Valider</button>
            </div>
        </div>

        <div id="modal_redcard" class="modalflex">
            <div id="rc_close"><i class="fas fa-times"></i></div>
            <div id="set_redcard">
                <label for="player_rc">Joueur expulsé :</label>
                &nbsp;&nbsp;&nbsp;
                <select name="player_rc" id="player_rc">
                    {% for player in playersList %}
                        <option value="{{ player.playerid }}">{{ player.firstname }} {{ player.lastname | truncate(1, false, "") }}</option>
                    {% endfor %}
                </select>
                &nbsp;&nbsp;&nbsp;
                <button id="valid_rc" class="btn btn-primary">Valider</button>
            </div>
        </div>

        <div id="modal_displaycards">
            <div id="cards_close"><i class="fas fa-times"></i></div>
            <div id="set_cards"></div>
        </div>
    </div>

<div id="match" class="d-flex flex-column col-12">

    <div id="match_data">
        <div id="matchid">{{ match.gameid }}</div>
        <div id="athome">{{ match.athome }}</div>
        <div id="periodnum">{{ match.periodnum }}</div>
        <div id="periodduration">{{ match.periodduration }}</div>
        <div id="page">stats</div>
    </div>



    {% if playersList is empty %}
        <div>Vous devez d'abord définir une composition d'équipe</div>
    {% else %}
        <div id="match_banner" class="d-flex flex-row col-12">
             <div id="match_banner-left" class="col-3">
            </div>
            <div id="match_banner-teams" class="d-flex flex-column align-items-center col-6 teamcol">
                {% if match.athome == 1 %}
                    <div id="match_team_logo" class="d-flex flex-row justify-content-around col-12">
                        <div id="match_team_logo-home" class="col-3">
                            <img src="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" class="img-responsive fit-image">
                        </div>
                        <div id ="match_team_logo-away" class="col-3">
                            <img src="{{ match.logo }}" class="img-responsive fit-image">
                        </div>
                    </div>
                    <div id="match_team_name" class="d-flex flex-row justify-content-around col-12 mt-1 font-weight-bold">
                        <div id ="match_team_name-home" class="col-6 text-center">
                            LFC
                        </div>
                        <div id ="match_team_name-away" class="col-6 text-center">
                            {{ match.oppo }}
                        </div>
                    </div>
                    <div id="match-team_score" class="d-flex flex-row justify-content-around col-12 mt-1">
                        <div id="match_team_score-home" class="col-6 text-center">
                            0
                        </div>
                        <div id="match_team_score-away" class="col-6 text-center">
                            0
                        </div>
                    </div>
                    <div id="match_team_buttons" class="d-flex flex-row justify-content-around col-12 mt-1">
                        <div id ="match_team_buttons-home" class="d-flex flex-row col-4">
                            <div class="d-flex flex-row justify-content-end col-12">
                                <button id="home_score-btn_minus" class="btn btn-primary"><i class="fas fa-minus"></i></button> <button id="home_score-btn_plus" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div id ="match_team_buttons-away" class="d-flex flex-row justify-content-between col-4">
                            <div class="d-flex flex-row justify-content-around col-12">
                                <button id="away_score-btn_minus" class="btn btn-primary"><i class="fas fa-minus"></i></button> <button id="away_score-btn_plus" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <div id="match_team_logo" class="d-flex flex-row justify-content-around col-12">
                        <div id="match_team_logo-home" class="col-3">
                            <img src="{{ match.logo }}" class="img-responsive fit-image">
                        </div>
                        <div id ="match_team_logo-away" class="col-3">
                            <img src="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" class="img-responsive fit-image">
                        </div>
                    </div>
                    <div id="match_team_name" class="d-flex flex-row justify-content-around col-12 mt-1 font-weight-bold">
                        <div id ="match_team_name-home" class="col-6 text-center">
                            {{ match.oppo }}
                        </div>
                        <div id ="match_team_name-away" class="col-6 text-center">
                            LFC
                        </div>
                    </div>
                    <div id="match-team_score" class="d-flex flex-row justify-content-around col-12 mt-1">
                        <div id="match_team_score-home" class="col-6 text-center">
                            0
                        </div>
                        <div id="match_team_score-away" class="col-6 text-center">
                            0
                        </div>
                    </div>
                    <div id="match_team_buttons" class="d-flex flex-row justify-content-around col-12 mt-1">
                        <div id ="match_team_buttons-home" class="d-flex flex-row justify-content-between col-4">
                            <div class="d-flex flex-row justify-content-end col-12">
                                <button id="home_score-btn_minus" class="btn btn-primary"><i class="fas fa-minus"></i></button> <button id="home_score-btn_plus" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div id ="match_team_buttons-away" class="d-flex flex-row justify-content-between col-4">
                            <div class="d-flex flex-row justify-content-between col-12">
                                <button id="away_score-btn_minus" class="btn btn-primary"><i class="fas fa-minus"></i></button> <button id="away_score-btn_plus" class="btn btn-primary"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                {% endif %}
                <div id ="match_team_buttons-cards" class="d-flex flex-row justify-content-center col-12 mt-1">
                    <div class="d-flex flex-row justify-content-around col-4">
                        <div class="d-flex flex-row align-items-center"><div id="yellowcard"></div>&nbsp;&nbsp;<span id="yellowcard_num">0</span></div>
                        <div class="d-flex flex-row align-items-center"><div id="redcard"></div>&nbsp;&nbsp;<span id="redcard_num">0</span></div>
                    </div>
                </div>
                <div id ="match_team_show-cards" class="d-flex flex-row justify-content-center col-12 mt-1">
                    <div class="d-flex flex-row justify-content-around col-4">
                        <button id="show_cards" class="btn btn-primary">Voir les cartons</button>
                    </div>
                </div>
            </div>
            <div id="match_banner-right" class="col-3">
            </div>
        </div>

        <div id="match_stat_period_display" class="mt-4">
            <div id="match_stat_period-bar" class="border border-primary rounded"></div>
            <button id="stat_all" class="period_btn btn btn-primary">Total</button>
        </div>

        <div id="match_stat_record" class="d-flex flex-row col-12 mt-5">
            <div id ="stat_1stcol" class="col-6 d-flex flex-column">
            </div>

            <div id ="stat_2ndcol" class="col-6 d-flex flex-column">
            </div>
        </div>

        <div id="match_stat_displaybyperiod"  class="d-none">
            <div id ="stat_1stcol_dbp" class="col-6 d-flex flex-column">
            </div>

            <div id ="stat_2ndcol_dbp" class="col-6 d-flex flex-column">
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}


{%  block script %}
    <script src="/MyTeamStats/public/js/ajax.js"></script>
    <script src="/MyTeamStats/public/js/Score.js"></script>
    <script src="/MyTeamStats/public/js/Card.js"></script>
    <script src="/MyTeamStats/public/js/Stats.js"></script>
    <script src="/MyTeamStats/public/js/Chrono.js"></script>
    <script src="/MyTeamStats/public/js/MatchStats.js"></script>
{% endblock %}