{% extends "layout.html.twig" %}

{% block head %}
    <title>Modifier le  terrain - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div id="createfield_form" class="d-flex flex-column justify-content-center align-items-center mt-4">
        <form id="createfield-form" class="col-lg-6" action="/UpdateField/{{ field.fieldid }}"  method="post" enctype="multipart/form-data">
            <legend>Modifier le terrain</legend>
            <div class="form-group">
                <label for="text" class="form_label">Nom</label>
                <input id="text" type="text" name="name" class="form-control" value="{{ field.name }}" required>
            </div>
            <div class="form-group">
                <label for="text" class="form_label">Adresse</label>
                <input id="text" type="text" name="address" class="form-control" value="{{ field.address }}" required>
            </div>
            <div class="form-group">
                <label for="text" class="form_label">Code Postal</label>
                <input id="text" type="number" name="zipcode" class="form-control" value="{{ field.zipcode }}" required>
            </div>
            <div class="form-group">
                <label for="text" class="form_label">Ville</label>
                <input id="text" type="text" name="city" class="form-control" value="{{ field.city }}" required>
            </div>
            <div class="form-group">
                <label for="text" class="form_label">Pelouse</label>
                <select name="turf" class="form-control" required>
                    <option value="Naturelle">Naturelle</option>
                    <option value="Synthétique">Synthétique</option>
                    <option value="Salle">Salle</option>
                </select>
            </div>
            <button type="submit" class="mt-4 btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
        </form>
    </div>


{% endblock %}