{% extends "layout.html.twig" %}

{% block head %}
    <title>Modifier l'utilisateur - MyTeamStats</title>
{% endblock %}

{% block content %}

    {% if session.user_status >= 4 %}
        <div class="table-responsive">
            <table class="table table table-bordered table-striped text-center">
                <caption class="col-12 text-center">
                    <h4>Modifier l'utilisateur</h4>
                </caption>
                <thead>
                <tr>
                    <th id="table_surname">Nom</th>
                    <th id="table_name">Prénom</th>
                    <th id="table_birthdate">Mail</th>
                    <th id="table_category">Statut</th>
                    <th id="table_category">Options</th>
                </tr>
                </thead>
                <tbody>
                {%   for user in usersListObj %}
                    <tr>
                        <td>{{user.lastname}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.mail}}</td>
                        <td>
                            {% if user.status == 1 %}
                                Visiteur
                            {% elseif user.status == 2 %}
                                Joueur
                            {% elseif user.status == 3 %}
                                Coach/Dirigeant
                            {% elseif user.status == 4 %}
                                Administrateur
                            {%  endif %}
                        </td>
                        <td class="d-flex flex-row justify-content-around">
                            <div><a href="/MyTeamStats/ModifyUser/{{ user.userid }}"><i class="fas fa-user-edit"></i></a></div>
                            {%  if session.user_status >= 4 %}
                                <div><a href="/MyTeamStats/DeleteUser/{{ user.userid }}"><i class="fas fa-user-times"></i></a></div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <span>Vous n'êtes pas autorisé à afficher cette page</span>
    {% endif %}

{% endblock %}

