{% extends "layout.html.twig" %}

{% block head %}
    <title>Modifier l'utilisateur - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div class="modal_confirm_delete">
        <div class="modal_confirm_delete_content">
            <span class="modal_confirm_delete_content-txt">Vous êtes sur le point de supprimer un utilisateur. Confirmer ?  </span>
            <div class="modal_confirm_delete_content-buttons">
                <button class="modal_confirm_delete_content-buttonno btn btn-primary">Non</button>
                <button class="modal_confirm_delete_content-buttonyes btn btn-primary"><a href="/DeleteUser/" class="delete_link link">Oui</a></button>
            </div>
        </div>
    </div>

    {% if session.user_status >= 4 %}
        <div class="table-responsive">
            <table class="table table table-bordered table-striped text-center">
                <caption class="col-12 text-center">
                    <h4>Liste des utilisateurs</h4>
                </caption>
                <thead>
                <tr class="trlist">
                    <th id="user_surname">Nom</th>
                    <th id="user_name">Prénom</th>
                    <th id="user_birthdate">Mail</th>
                    <th id="user_category">Statut</th>
                    <th id="user_options" class="optionsTH">Options</th>
                </tr>
                </thead>
                <tbody>
                {%   for user in usersListObj %}
                    <tr class="trlist tableTR">
                        <td>{{user.lastname}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.mail}}</td>
                        <td>
                            {% if user.status == 1 %}
                                Visiteur
                            {% elseif user.status == 2 %}
                                Joueur
                            {% elseif user.status == 3 %}
                                Coach/Dirigeant
                            {% elseif user.status == 4 %}
                                Administrateur
                            {%  endif %}
                        </td>
                        <td class="optionsTD">
                            <div><a href="/ModifyUser/{{ user.userid }}" class="bluelink"><i class="fas fa-user-edit"></i></a></div>
                            {%  if session.user_status >= 4 %}
                                <div class="delete_btn"><i class="fas fa-user-times" id="delete_user_{{ user.userid }}"></i></div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <span>Vous n'êtes pas autorisé à afficher cette page</span>
    {% endif %}

    <div class="list_bar col-12 d-flex flex-row justify-content-center mb-4">
    </div>

{% endblock %}

{% block script %}
    <script>let count = {{ count }};</script>
    <script>let list = "{{ list }}";</script>
    <script>let userStatus = "{{ session.user_status }}"</script>
    <script src="/js/TableOptions.js"></script>
    <script src="/js/DeleteManagement.js"></script>
    <script src="/js/ListDisplay.js"></script>
{% endblock %}

